package pages

import (
    "infinitvoid/frontend/mark/comp"
)

templ Sign(){
    <div class="flex justify-center items-center min-h-screen gap-6">
            @comp.Login()
            @comp.Signup()
    </div>
}